<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="../../css/font-awesome.css" rel="stylesheet">
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../css/cricket.css" rel="stylesheet">

</head>
<body>
<div class="section no-pad-bot" id="index-banner">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m2">
        <div class="icon-block sectionLeft">
          <div class="center titleLeft">CRICKET CUT THROAT</div>
          <div class="center titleLeft">ROUND <span id="nbRound">1</span> / <%- maxRound %></div>
          <div class="center tableLeft">
            <table>
              <tbody>
              <tr id="HistoryRound1">
                <td class="title">R1 :</td>
                <td class="T1"></td>
                <td class="T2"></td>
                <td class="T3"></td>
              </tr>
              <tr id="HistoryRound2">
                <td class="title"></td>
                <td class="T1"></td>
                <td class="T2"></td>
                <td class="T3"></td>
              </tr>
              <tr id="HistoryRound3">
                <td class="title"></td>
                <td class="T1"></td>
                <td class="T2"></td>
                <td class="T3"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col s12 m8">
        <div class="icon-block sectionCenter">
          <table class="tableCricket">
            <tbody>
              <% for(var i=0; i < arrayTargets.length; i++) { %>
              <% if(arrayTargets[i] != 25){ %>
                <tr id="tr<%- arrayTargets[i] %>">
                  <td class="tdGame tdPlayer1 selected"></td>
                  <td class="tdGame tdPlayer2"></td>
                  <td class="tdGame tableChiffreCenter"><%- arrayTargets[i] %></td>
                  <td class="tdGame tdPlayer3"></td>
                  <td class="tdGame tdPlayer4"></td>
                </tr>
                <% }else{ %>
                  <tr id="tr25">
                    <td class="tdGame tdPlayer1 selected"></td>
                    <td class="tdGame tdPlayer2"></td>
                    <td class="tdGame tableChiffreCenter">BULL</td>
                    <td class="tdGame tdPlayer3"></td>
                    <td class="tdGame tdPlayer4"></td>
                  </tr>
                <% } %>
              <% } %>

            </tbody>
          </table>
        </div>
      </div>

      <div class="col s12 m2">

      </div>
    </div>
  </div>
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m2">
      </div>
      <div class="col s12 m8">
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block lastDart center" id="throw1">
              -
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block lastDart center" id="throw2">
              -
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block lastDart center" id="throw3">
              -
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m2">
      </div>
    </div>

  </div>
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <% for(var i=1; i<=nbPlayer; i++) {%>
        <div class="col s12 m3">
          <div id="zoneScorePlayer<%- i %>" class="icon-block scorePlayer <% if(i === 1){%>selected<%}%>">
            <div class="center titlePlayer">Player <%- i %></div>
            <div id="scoreTotal<%- i %>" class="center scoreP">
              0
            </div>
          </div>
        </div>
      <% } %>

    </div>

  </div>
</div>
<div id="changePlayer">
  CHANGEMENT DE JOUEUR
</div>
<div id="newGame">
  Voulez vous jouer de nouveau
</div>
<div id="returnMenu">
  Voulez vous jouer de nouveau
</div>
<div id="zonevictory">
  VICTOIRE : <span id="zonevictoryPlayer"></span>
</div>
<!--  Scripts-->
<script src="../../js/jquery-2.1.1.min.js"></script>
<script src="../../js/materialize.min.js"></script>
<script src="../../js/socket.io.js"></script>
<script src="../../js/dart_target_matrix.js"></script>
<script>
  let nombrePlayer = <%- nbPlayer %>;
  let maxRound = <%- maxRound %>;
  let arrayTargets = <%- JSON.stringify(arrayTargets) %>;
</script>
<script src="../../js/cricket.js"></script>
</body>
</html>
