<!DOCTYPE html>
<html lang="fr" data-theme="<%= typeof theme !== 'undefined' ? theme : 'default' %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Dartboard - Choisissez votre jeu</title>

  <!-- CSS  -->
  <link href="../../css/font-awesome.css" rel="stylesheet">
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../css/themes/<%= typeof theme !== 'undefined' ? theme : 'default' %>.css" type="text/css" rel="stylesheet"/>
  
  <style>

  </style>

</head>
<body>
  <div class="header flex-container">
    <div class="header-left flex-items">
      <div class="flex-container">
        <div class="subtitle subtitle-left-left flex-items"><div>fais</div><div>ton</div><div>choix</div></div>
        <div class="title-left flex-items">JEUX</div>
        <div class="subtitle subtitle-left-right flex-items"><div>fais</div><div>ton</div><div>choix</div></div>
      </div>
    </div>
    <div class="header-right flex-items">
      <div class="flex-container">
        <div class="subtitle subtitle-left-left flex-items"><div>pas</div><div>de</div><div>triche</div></div>
        <div class="title-right flex-items">DERNIÈRES PARTIES</div>
        <div class="subtitle subtitle-left-right flex-items"><div>pas</div><div>de</div><div>triche</div></div>
      </div>
    </div>
  </div>
  
  <div class="content flex-container">
    <div class="content-left flex-items">
      <img src="../../img/flechettes.png" class="flechettes-img">
      <div class="games-list">
        <div class="game-item selected boxGame1 box" data-name="lobby/crickets">
          <div class="game-number"><div class="game-number-text game-number-text-top-left">1</div></div>
          <div class="game-name">Cricket</div>
        </div>
        <div class="game-item boxGame2 box" data-name="lobby/01">
          <div class="game-number"><div class="game-number-text game-number-text-bottom">2</div></div>
          <div class="game-name">01 Games</div>
        </div>
        <div class="game-item boxGame3 box" data-name="lobby/fungames">
          <div class="game-number"><div class="game-number-text game-number-text-middle">3</div></div>
          <div class="game-name">Fun games</div>
        </div>
      </div>
    </div>
    <div class="content-right flex-items">
      <img src="../../img/regle.png" class="regle-img">
      <% if (typeof recentGames !== 'undefined' && recentGames.length > 0) { %>
        <table class="compact-table">
          <thead>
            <tr>
              <th>Jeu</th>
              <th>Date</th>
              <th>Gagnant</th>
            </tr>
          </thead>
          <tbody>
            <% recentGames.forEach(function(game) { %>
              <tr>
                <td><%= game.type %></td>
                <td><%= game.formattedDate %></td>
                <td class="winner-cell"><i class="fa fa-trophy trophy-icon"></i> <%= game.winner %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <div class="no-games">
          <p>Aucune partie récente</p>
        </div>
      <% } %>
    </div>
  </div>
  
  <!--  Scripts-->
  <script src="../../js/jquery-2.1.1.min.js"></script>
  <script src="../../js/materialize.min.js"></script>
  <script src="../../js/socket.io.js"></script>

  <script>
    var socket = io();
    let gameSelected = 1;
    let nbTotalGame = 3;
    let lastMsg = '';
    
    // Noms des jeux pour l'affichage
    const gameNames = ['Cricket', '01 Games', 'Fun Games'];
    
    // Descriptions des jeux
    const gameDescriptions = [
      "Vous pouvez jouer à différents mode du jeu cricket, comme le cutthroat, le normal ou le random",
      "Vous pouvez choisir les différents mode du jeu 01, du 301 au 901",
      "Vous pouvez jouer à différents mode de fungames, comme le gold hunting, le high jump ou l'atomics",
    ];
    
    // Mettre à jour l'information du jeu sélectionné
    function updateSelectedGameInfo() {
      // Récupérer le nom du jeu sélectionné depuis l'élément HTML
      const selectedGameName = $('.game-item.selected .game-name').text();
      
      // Mettre à jour la description dans le content-right
      $('.content-right p').text(gameDescriptions[gameSelected-1]);
    }
    
    // Initialiser l'information du jeu sélectionné
    updateSelectedGameInfo();
    
    // Ajouter des effets visuels lors de la sélection
    $('.box').click(function() {
      if ($(this).hasClass('boxLastGame') || $(this).hasClass('boxStats')) {
        // Si c'est le bloc de règles ou de statistiques, ne pas changer la sélection des jeux
        // mais rediriger vers la page appropriée si nécessaire
        if ($(this).hasClass('boxStats')) {
          window.location.href = "/statistics";
        }
        return;
      }
      
      $('.box').removeClass('selected');
      $(this).addClass('selected');
      
      // Obtenir l'index du jeu sélectionné
      gameSelected = $(this).hasClass('boxGame1') ? 1 : 
                     $(this).hasClass('boxGame2') ? 2 : 
                     $(this).hasClass('boxGame3') ? 3 : gameSelected;
      
      updateSelectedGameInfo();
    });

    socket.on('arduino', function(msg) {
      arduinoEvent(msg);
    });

    function arduinoEvent(msg){
      if(lastMsg === '') {
        lastMsg = msg;
        if(msg === 'btnNext'){
          if(gameSelected < nbTotalGame){
            gameSelected++;
          }else{
            gameSelected=1
          }
          $('.box').removeClass('selected');
          $('.boxGame'+gameSelected).addClass('selected');
          
          // Mettre à jour l'affichage du jeu sélectionné
          updateSelectedGameInfo();
        }else if(msg === 'btnValidate'){
          let nameGame = $('.boxGame'+gameSelected).data('name');
          window.location.replace(""+nameGame);
        }
      }

      setTimeout(function(){
        lastMsg = '';
      }, 500);
    }
    
    // Ajouter un effet de pulse pour le titre
    $(document).ready(function() {
      $('.titleMenu').addClass('animated');
      
      // Gestion de la sélection des jeux
      $('.game-item').click(function() {
        $('.game-item').removeClass('selected');
        $(this).addClass('selected');
        
        // Obtenir l'index du jeu sélectionné (1-indexé)
        const gameIndex = $(this).index() + 1;
        gameSelected = gameIndex;
        
        // Mise à jour de l'interface utilisateur si nécessaire
        updateSelectedGameInfo();
      });
    });
  </script>

  <style>
    /* Styles pour le tableau des dernières parties */
    
    
    /* Personnalisation de la barre de défilement */
    .recent-games-table::-webkit-scrollbar {
      width: 6px;
    }
    
    .recent-games-table::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }
    
    .recent-games-table::-webkit-scrollbar-thumb {
      background: var(--accent-color);
      border-radius: 3px;
    }
  </style>
</body>
</html>
