<!DOCTYPE html>
<html lang="fr" data-theme="<%= typeof theme !== 'undefined' ? theme : 'default' %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Dartboard - Choisissez votre jeu</title>

  <!-- CSS  -->
  <link href="../../css/font-awesome.css" rel="stylesheet">
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../css/themes/<%= typeof theme !== 'undefined' ? theme : 'default' %>.css" type="text/css" rel="stylesheet"/>
  
  <style>

  </style>

</head>
<body>
  <div class="header flex-container">
    <div class="header-left-ingame flex-items">
      <div class="flex-container">
        <div class="title-left-ingame flex-items">Allez gros naze</div>
      </div>
    </div>
    <div class="header-right-ingame flex-items">
      <div class="flex-container">
        <div class="title-right-little flex-items"></div>
      </div>
    </div>
  </div>
  
  <div class="content flex-container">
    <div class="content-left-ingame flex-items">
      <div class="games-list">
      
      </div>
    </div>
    <div class="content-right-ingame flex-items">
      <div id="scoreCurrentPlayer" class="scoreCurrentPlayer">
        <%- mode %>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block lastDart center" id="throw1">
            -
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block lastDart center" id="throw2">
            -
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block lastDart center" id="throw3">
            -
          </div>
        </div>
      </div>
  </div>

    <!--  Scripts-->
    <script src="../../js/jquery-2.1.1.min.js"></script>
    <script src="../../js/materialize.min.js"></script>
    <script src="../../js/socket.io.js"></script>
    <script src="../../js/dart_target_matrix.js"></script>
  <script>
    let nombrePlayer = parseInt("<%- nbPlayer %>");
    let maxRound = parseInt("<%- maxRound %>");
    let arrayTargets = JSON.parse('<%- JSON.stringify(arrayTargets) %>');
    let mode = parseInt("<%- mode %>");
  </script>
  <script src="../../js/game/statsManager.js"></script>
  <script src="../../js/game/mainDisplay.js"></script>
  <script src="../../js/game/main.js"></script>
  <script src="../../js/game/501.js"></script>
</body>
</html>
